<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Route Station</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
<div th:replace="~{admin/dashboard :: header}"></div>
<div id="layoutSidenav">
    <div th:replace="~{admin/dashboard :: sidebar}"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Create Route Station</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/admin/route-station}">Route Stations</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto">
                        <form th:action="@{/admin/route-station/create}" method="post">
                            <label>Route:</label>
                            <select name="routeId" class="form-control" required>
                                <option th:each="r : ${routes}" th:value="${r.routeId}" th:text="${r.routeName}">Route</option>
                            </select>

                            <label>Station:</label>
                            <select name="stationId" class="form-control" required>
                                <option th:each="s : ${stations}" th:value="${s.stationId}" th:text="${s.stationName}">Station</option>
                            </select>

                            <label>Stop Order:</label>
                            <input type="number" name="stopOrder" class="form-control" required />

                            <button type="submit" class="btn btn-primary mt-3">Create</button>
                        </form>

                    </div>
                </div>
            </div>
        </main>
        <div th:replace="~{admin/dashboard :: footer}"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
